@font-face {
    font-family: lobster;
    src: url(fonts/lobster.ttf);
}

@font-face {
    font-family: gotham;
    src: url(fonts/GothamMedium.ttf);
}

@font-face {
    font-family: dancing;
    src: url(fonts/dancing.ttf);
}

@font-face {
    font-family: courgette;
    src: url(fonts/Courgette-Regular.ttf);
}

@font-face {
    font-family: mont;
    src: url(fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: raleway;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

body {
    margin: 0;
}

#name {
    display: flex;
}

* {
    font-family: raleway;
}

h2 {
    font-size: 30px;
    padding-left: 10px;
    padding-top: 20px;
}

ul {
    margin-left: 0px;
    padding-left: 19px;
    padding-top: 6px;
    margin-top: 0px;
}

.atitle {
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    animation: typing 4s steps(30, end) forwards !important;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

#linebreak {
    font-size: 1px;
}

h1{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#header {
    background-color: rgb(137, 190, 234);
    display: flex;
    justify-content: space-between;
}

#projtext {
    margin-left: 10px;
}

#nav {
    display: flex;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 20px;
}

.titlelink {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:visited .titlelink {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

img {
    padding-top: 4px;
}

#avatar {
    padding-top: 4px;
    border-radius: 50%;
}

#profimg {
    border-radius: 50%;
    margin: auto;
    text-align: center;
}

#projects {
    display: flexbox;
}

#dsatitle {
    text-align: center;
    color: black;
}

#ptitle {
    font-size: 3.5vh;
}

#auto {
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

.br2{
    filter: drop-shadow(rgb(224, 233, 243) 3px 3px 2px);
}

#inline {
    font-size: 1.5vw;
    font-family: raleway;
    text-decoration: underline;
    display: inline;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(97, 160, 211);
    font-weight: normal;
}

#italic{
    font-style:oblique;
    font-size: 1.3vw;
}

#hs,
#college {
    background-color: rgb(227, 241, 255);
    padding: 5px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    border-radius: 15px;
    font-size: 1.5vw;
    filter: drop-shadow(rgb(212, 228, 244) 2px 2px 1px);
}

#college:hover{
    background-color: #eef6ff;
    filter: drop-shadow(rgb(186, 200, 213) 5px 5px 5px);
}

li {
    padding-right: 4px;
}

#linkedin2,
#facebook2,
#email2 {
    padding-top: 5px;
}

#dsa,
#rbt,
#sai,
#mns {
    width: 95%;
    height: 95%;
    border-radius: 5px;
    background-color: rgb(227, 241, 255);
    filter: drop-shadow(rgb(181, 189, 197) 3px 3px 2px);
}

ul li{
    padding-bottom: 4px;
}

#contdiv {
    background-color: rgb(242, 246, 250);
}

#dsainfo,
#saiinfo,
#rbtinfo,
#mnsinfo {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

button {
    border: none;
    font-size: 25px;
    font-weight: bold;
    padding-left: 0px;
    margin-left: 0px;
    background-color: rgb(227, 241, 255);
}

#abouttext {
    width: 750px;
    padding-left: 0px;
    padding-top: 10px;
    margin: auto;
    font-size: 17px;
}

#title {
    font-size: 2.5vw;
    margin-top: 2px;
    padding-top: 5px;
    font-weight: bold;
}

#typingEffect::after {
    content: "";
    width: 2px;
    height: 20px;
    opacity: 0;
    background: black;
    display: inline-block;
    animation: blink 1s linear infinite alternate;
    margin-left: 1px;
    position: relative;
    margin-top: 3px;
    top: 10%;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

#about {
    background-image: linear-gradient(rgb(137, 190, 234), white);
    height: fit-content;
    text-align: center;
    padding-left: 0px;
}

.updates {
    background-color: rgb(185, 225, 255);
    border-radius: 27px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 1px;
    margin: auto;
    filter: drop-shadow(rgb(181, 189, 197) 3px 3px 2px);
}

#resume {
    background-color: rgb(185, 225, 255);
    border-radius: 7px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    filter: drop-shadow(rgb(181, 189, 197) 3px 3px 2px);
}

#education,
#skills,
#contact {
    display: flex;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#divider {
    padding-left: 10px;
}

#container {
    display: flex;
    padding-left: 0px;
    font-size: 1.5vw;
}

#miniprojects{
    height: 100%;
    width: fit-content;
}

#items {
    background-color: rgb(252, 188, 210);
    padding-left: 5px;
    padding-bottom: 5px;
    width: 400px;
    border-radius: 5px;
}

#contitle {
    margin: auto;
    text-align: center;
    font-size: 20px;
    padding-left: 0px;
    padding-bottom: 4px;
}

#facebook {
    padding-top: 15px;
}

#email {
    padding-top: 15px;
}

.show {
    transform: translateY(300px);
    margin: auto;
    transform: translateX(-475px);
    opacity: 0;
    transition: 2s all ease;
}

.show.active {
    transform: translateY(0px);
    margin: auto;
    opacity: 1;
}

.show2 {
    transform: translateY(20px);
    opacity: 0;
    margin: auto;
    transition: 2s all ease;
}

#coincontainer {
    position: relative;
    height: 350px;
    width: 350px;
    margin: auto;
    padding-left: 0px;
}

#coin {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 150rem;
    left: -50%;
}

.coinimg {
    backface-visibility: hidden;
    position: absolute;
    transition: transform 1s;
}

.bg2 {
    transform: rotateY(-180deg);
}

#coincontainer:hover .bg2 {
    transform: rotateY(0deg);
}

#coincontainer:hover .bg1 {
    transform: rotateY(180deg);
}

#linkedin {
    padding-top: 8px;
}

#divider5 {
    width: 7px;
}

#sklogos{
    background-color: rgb(227, 241, 255);
    width: 95%;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 5px;
    filter: drop-shadow(rgb(212, 228, 244) 2px 2px 1px);
}

#sktitle{
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
}

#edutitle{
    margin-bottom: -5px;
    font-size: 3.5vh;
}

#first_projtitle{
    margin-top: 20px;
}

#projtitle{
    padding-left: 2.5%;
    margin-bottom: 10px;
    font-size: 3.5vh;
}

.show2.active {
    transform: translateY(0px);
    opacity: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown:hover .dropbtn {
    background-color: rgb(228, 237, 246);
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#dropdown-bottom{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#dropdown-top{
    border-top-left-radius: 5px;
}

.dropbtn {
    font-size: 20px;
    background-color: rgb(137, 190, 234);
    padding: 10px;
}

.navbar {
    padding-top: 10px;
    color: black;
}

.dropdown_content a:hover {
    background-color: rgb(240, 242, 247);
}

.dropdown_content a {
    color: black;
    padding-left: 8px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.droptext {
    padding-bottom: 18px;
    padding-top: 18px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: rgb(228, 237, 246);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#resume:hover {
    background-color: rgb(162, 208, 246);
}